header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #57c594;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}



/* Estilos generales */


body {
    font-family: 'Arial', sans-serif;
    background-color: #eef1f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.input-section {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 100%;
    max-width: 450px;
}

/* Etiquetas */
label {
    font-size: 18px;
    font-weight: 600;
    color: #404040;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

/* Botón */
button {
    width: 100%;
    background: #57c594;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #7ae495;
}

/* Resultados */
.result {
    margin-top: 25px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.result ul {
    list-style: none;
    padding: 0;
}

.result ul li {
    background: #dff0d8;
    color: #3c763d;
    padding: 12px;
    margin: 6px 0;
    border-radius: 8px;
    font-size: 16px;
}

body {
    background-image: url('Resources/mony2.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: repeat; /* Evita que la imagen se repita */
}
